#logincontain{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: "1fr 1fr";
    grid-template-rows: "1fr";
    grid-template-areas: "a b";

}
  #logindetail{
      width: 100%;
      height: 600px;
 padding-left: 40%;
 padding-top: 25%;
 grid-area: "a";


}#logindetail>img{
    width: 65%;
}

#loginimg{
    width: 100%;
     margin-top: 1%;
     margin-left: 25%;
    grid-area: "b";


     
}
  #logincontain p{
        color:rgb(82, 78, 78);
        font-size: 25px;
 }
    #logindetail label{
       font-size: 20px;
       color: rgb(92, 89, 89);
       margin-top: 40px;
 
 }
 #logindetail input{
     width: 80%;
     height: 35px;
     margin-top: 1%;
 
 }
 #logindetail button{
     width: 80%;
     height: 50px;
     margin-top: 1%;
     background-color: blue;
     color: white;
     border-radius: 5px;
 }

 @media only screen and (max-width: 600px) {
     #logincontain{
    width: 100%;
    height:300px;
    display: grid;
    margin-left: 5px;
    grid-template-columns: "1fr";
    grid-template-rows: "1fr";
    grid-template-areas: "a"
                    ;

}
  #logindetail{
      width: 90%;
    
 margin-left: 0%;
 padding-top: 5%;
 grid-area: "a";

}
#logindetail>img{
    width: 70%;
}
#loginimg>img{
    width: 0%;
    grid-area:"b";
    
 }
}