.nav-bar{
    background-color: white;
}
.pricing-header-cont{
    padding-top: 10%;
    width: 100%;
    /* height: 600px; */
}

.pricing-header{
    /* visibility: hidden; */
    width: 80%;
    margin: auto;
    padding-top: 12%;
}
.pricing-header>p:nth-child(1){
    color: #303030;
    font-size:5.5vw;
    font-weight: 600;
    font-family:  'Roboto Condensed', sans-serif;
    padding-bottom: 3%;
}

.pricing-header>p:nth-child(2){
    line-height: 1.5;
    font-size: 18px;
    /* font-weight: 550; */
    padding-bottom: 3%;
    font-family:  'Roboto Condensed', sans-serif;

}
.pricing-header h6{
    border: 2px dashed white;
    width: 200px;
    margin: auto;
    height: 35px;
    font-size: 18px;
}

.pricing-header>p:nth-child(3){
    font-size: 18px;
    padding-bottom: 3%;
    font-family:  'Roboto Condensed', sans-serif;

}
.center{
    text-align: center;
}
.pricing-header button{
    font-size: 22px;
    width: 250px;
    height: 50px;
    border: none;
    margin:0 -0.5% 0 -1.2%;
    padding: 0%;
    
}
.need_higher{
    /* border: 2px solid red; */
    
    width: 90%;
    display: flex;
    margin: auto;
    padding-top: 5%;
}
.need_higher img{
    width: 150px;
    
}
.need_higher>div:nth-child(2){
    
    margin-left: 5%;
    font-family:  'Roboto Condensed', sans-serif;
    width: 50%;
}
.need_higher>div:nth-child(2)>p:nth-child(1){
    padding-bottom: 20px;
    font-size: 24px;
    font-weight:600;
    
    color: #303030;
}
.need_higher>div:nth-child(2)>p:nth-child(2){
    font-size: 18px;
}
.need_higher button{
    /* margin-top: 10%; */
    
    
    width: 300px;
    height: 75px;
    background: none;
    border: 2px solid blue;
    color: blue;
    font-size: 16px;
    font-weight: 700;
}

.need_higher_cont{
    height: 250px;
    border-top: 1px solid gray;
}
.auto{
    margin: auto;
}
.plan_is_best_cont{
    width: 100%;
    height: 350px;
    border: 0.5px solid grey;
}
.plan_is_best{
    width: 80%;
    padding-top: 5%;

}

.plan_is_best>div:nth-child(2){
    margin-top: 5%;
    font-size: 50px;
    font-family:  'Roboto Condensed', sans-serif;
}
.plan_is_best>div:nth-child(3){
    margin-top: 2%;
    font-size: 50px;
    font-family:  'Roboto Condensed', sans-serif;
    
}
.plan_is_best>div:nth-child(3)>button{
    margin-top: 2%;
    font-size: 20px;
    font-family:  sans-serif;
    width: 180px;
    height: 65px;
    background-color: blue;
    border: none;
    color: white;
    
}

.klient_boost_cont{
    width: 100%;
    /* border: 2px solid grey; */
    height: 800px;
    
}
.klient_boost{
    display: flex;
    height: 720px;
    width: 90%;
    /* border: 2px solid grey; */
    margin: auto;
}
.dog_man_image{
    width: 50%;
    margin: auto;
    padding-bottom: 10%;
    /* border: 2px solid gray; */
    
}
.johnathan_quote{
    width: 40%;
    padding-top: 8%;
    
}
.johnathan_quote p{
    text-align: left;
   font-size: 30px;
   font-family:  'Roboto Condensed', sans-serif;
    line-height: 2;
}
.johnathan_quote h6{
    margin: 4% 0;
    font-family: sans-serif;
    font-size: 20px;
}
.klient_boost_cont a{
  
    margin-left: 12%;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}
.conversions_month_cont{
    /* background-color: rgba(128, 128, 128, 0.315); */
    width: 100%;
    display: flex;
}
.conversions_month{
    background-color: rgba(128, 128, 128, 0.219);
    margin-left: 5%;
    width: 60%;
   
}
.conversions_month_right{
    padding-top: 10%;
    margin-right: 5%;
    width: 25%;
}
.conversions_month>p:nth-child(1){
    margin-top: 10%;
    font-family: sans-serif;
    font-size: 30px;  
    margin-left: 10%;  
}

.conversions_month>input:nth-child(3n+4) {
    
    margin-top: 2%;
    width: 500px;
    margin-bottom: 10%;
 
}
.conversions_month h6{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 10%;
    margin-top: 5%;

}
.conversions_month>input:nth-child(3n+3) {
    margin-left: 10%;
    height: 45px;
    width: 90px;
 
}
.conversion_month_right{
    background-color: white;
    /* border: 2px solid grey; */
    width: 40%;
    padding-left: 2%;
}
.conv_scale_image{
    display: flex;
    width: 100%;
    
}

.conv_scale_image img{
    width: 25%;
    padding: 5%;
    object-fit: contain;
}
.conv_scale {
    width: 40%;
    margin: 7%;
}
.conv_scale h3{
    
    font-size: 30px;
    font-family:  'Roboto Condensed', sans-serif;
}
.conv_scale p{
    font-size: 20px;
    font-family:  'Roboto Condensed', sans-serif;
    
}
.conv_buttons>button{
    width: 40%;
    margin:0% -1%;
    height: 50px;
    border: none;
    /* background: none; */

}
.what_included {
    width: 70%;
}
.what_included ul{
    
        list-style: none;
      
      
     
}
.what_included>ul li:before {
    content: '✓';
    color: blue;
    font-size: 25px;
    font-weight: 900;
  }
  .before_last_button button{
      background-color: white;
      border: none;
  }
  .conv_last_button button{
    border: none;
    color: white;
    background-color: blue;
    width: 400px;
    height: 75px;
    font-size: 22px;
  }
  .bot_m{
      margin-bottom: 5%;
  }
  .kamalgrid_cont{
    height: 800px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.062);
}
  .kamalgrid{
    background-color: rgba(128, 128, 128, 0.062);
      padding-top: 10%;

    display: flex;
    width: 90%;
    margin: auto;
   
}

.conversion_month_right_four{
    background-color: white;
    /* border: 2px solid grey; */
    width: 30%;
    padding-left: 2%;
}
.conv_scale_image_four{
 
    width: 100%;
    
}

.conv_scale_image_four img{
    margin-top: -10%;
    width: 60%;
    
    object-fit: contain;
}
.conv_scale_four {
    width: 40%;
    margin: 3%;
}
.conv_scale_four h3{
    
    font-size: 20px;
    font-family:  'Roboto Condensed', sans-serif;
}
.conv_scale_four p{
    font-size: 14px;
    font-family:  'Roboto Condensed', sans-serif;
    
}

.what_included_four {
    width: 70%;
}
.what_included_four ul{
    width: 100%;
    font-size: 12px;
        list-style: none;
      
      
     
}
.what_included_four>ul li:before {
    content: '✓';
    color: blue;
    font-size: 18px;
    font-weight: 900;
  }
  .before_last_button_four button{
      background-color: white;
      border: none;
  }
  .conv_last_button_four button{
    border: none;
    color: white;
    background-color: blue;
    width: 200px;
    height: 55px;
    font-size: 15px;
    /* padding-right: 2%; */
  }